:root {
    --b1: #062d72;
    --g1: #efefef;
    --g2: rgb(197, 197, 197);
    --g3: rgb(114, 113, 113);
    --canceled: #FF5F5F;
    --pending: #90EFB4;
    --waiting: #63D6ED;
    --concluded: #6645D9;
    --execution: #4F4B50;
    --font-default: 'Poppins', sans-serif;
}

body {
    font-family: var(--font-default);
}

.container-1 {
    padding: 0 7%;
}

.container-2 {
    padding: 0 5%;
}

.container-3 {
    padding: 0 20rem;
}

.icon {
    display: block;
    width: 50px;
    height: 50px;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hidden {
    display: none;
}

.underline {
    text-decoration: underline;
}

.canceled {
    background-color: var(--canceled);
}

.pending {
    background-color: var(--pending);
}

.waiting {
    background-color: var(--waiting);
}

.concluded {
    background-color: var(--concluded);
}

.execution {
    background-color: var(--execution);
}

@media screen and (max-width: 1900px) {
    .container-3 {
        padding: 0 10rem;
    }
}