.status {
    padding: 2rem 0;
}

.status__header {
    border-bottom: 1px solid black;
    margin-bottom: 1rem;
}

.status__title {
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 2rem;
    text-align: center;
}

.status__subtitle {
    font-size: 1.5rem;
    color: var(--g2);
    margin-bottom: 3rem;
    text-align: center;
}

.status--container--cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
}

.status--container--card {
    box-shadow: 0px 0px 15px rgb(126, 124, 124);
    border-radius: 15px;
    padding: 1rem;
}

.status__number {
    background-color: var(--b1);
    display: inline-block;
    color: white;
    padding: .3rem;
    border-radius: 5px;
    margin-bottom: .8rem;
}

.status__service {
    display: inline-block;
    color: #FFFFFF;
    padding: .3rem;
    border-radius: 5px;
    border: 1px solid var(--b1);
    margin-bottom: .8rem;
}

.status__title--card {
    font-size: 1.3rem;
    font-weight: 600;
    margin-bottom: .5rem;
}

.status__text {
    margin-bottom: .5rem;
}

.status--container--content {
    display: flex;
    flex-direction: column;
}

.status--container--obs {
    height: 150px;
}

.status__obs {
    font-weight: 600;
    font-size: 1rem;
    display: inline-block;
    margin-bottom: .5rem;
}

.status--container--button {
    align-self: center;
    margin: 1rem;
    width: 100%;
}

.status__button {
    padding: 1rem;
    background-color: var(--b1);
    text-align: center;
    text-decoration: none;
    color: white;
    width: 100%;
    border-radius: 25px;
    border: none;
}

.status__button:hover {
    cursor: pointer;
}