.services {
    background-color: var(--g1);
    padding: 2rem 0;
}

.services__title {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 3rem;
    font-weight: 600;
}

.services__list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 2rem;
}

.services--card--image {
    margin-bottom: 1rem;
}

.services__item {
    border: 1px solid black;
    border-radius: .5rem;
    padding: .7rem;
    background-color: rgb(243, 241, 241);
}

.services__subtitle {
    text-align: center;
    margin-bottom: 1rem;
}

.services__button {
    border: none;
    border-radius: .4rem;
    background-color: var(--b1);
    color: var(--g1);
    padding: .8rem;
    width: 100%;
}

.services__button:hover {
    cursor: pointer;
    background-color: #05245a;
}

.services__link {
    display: grid;
    justify-items: center;
    text-decoration: none;
    color: black;
}

.services__icon {
    margin: 1rem auto;
    height: 65px;
    width: 65px;
}

.services__text {
    text-align: center;
}